@import "./globals.css";

#userInteractionArea {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}
#messageBox {
    padding: 20px;
    width: 75%;
}
#forumPostsBox:has(div){
    background-color: aliceblue;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

.forumPost, .userForumPost {
    width: auto;
    border: 0.5px solid black;
}
.forumPost span, .userForumPost span {
    clear: both;
}
.forumPost span {
    float:left;
}
.userForumPost span{
    float: right;
} 
.postTimeStamp {
    text-decoration: underline;
}