#root 
{
  /* Colour constants */
  --cambridge-blue: #729b79;
  --charcoal: #40434E;
  --old-rose: #bb8588;
  --columbia-blue: #d6efff;
  --lighter-columbia-blue: #e8f5fc;
  --air-superiority-blue: #6d98ba;
}