@import "./globals.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--columbia-blue);
  background-color: var(--columbia-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  text-align: center;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 0px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--air-superiority-blue);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
  /* padding-bottom: 10px; */
}
button:hover {
  border: 1px solid var(--charcoal);
  margin: 4px;
}
button:focus{
  border: 2.5px solid var(--charcoal);
  margin: 2.5px;
  /* outline: 4px auto -webkit-focus-ring-color; */
}

