@import "globals.css";

/* Global Properties */
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--charcoal);

    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#active {
    background-color: white;
    background-color: var(--old-rose);
    pointer-events: none;
}

.navbar-item a {
    color: var(--columbia-blue);
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--charcoal);
}

.navbar-item a:hover, .navbar-item a:focus {
    color: var(--air-superiority-blue);
    background-color: var(--columbia-blue);
}

#active:hover, #active:focus {
    color: var(--columbia-blue)
}


#logo {
    float: left;
    
    transition: filter 300ms;
    will-change: filter;
    transform: rotate();
}
#logo p {
    font-weight: bolder;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5% 0px 25% 30px;
    color: var(--air-superiority-blue)
}
#logo:hover {
  filter: drop-shadow(0 10px 25px var(--old-rose));
}
#logo.react:hover {
  filter: drop-shadow(0 0 2em var(--old-rose));
}

/* Desktop Properties */
@media only screen and (min-width: 600px) {
    #navbar {
        overflow: hidden;
        height: 100px;
        position: fixed;

    }

    #logo {
        border-right: none;
        float: left;   
    }

    #navbar div {
        float: right;
        height: 100%;
    }

    .navbar-item {
        width: 125px;
        height: 100%;
        display: inline;
        float: left;
        border-right: 1px solid #bbb;
    }
    
    .navbar-item a{
        height: 100%;
        padding-top: 27.5%;
    }
    
    .navbar-item:last-child {
        border-right: none;
    }

}

/* Mobile Properties */
@media only screen and (max-width: 600px) {
    #navbar {
        /* height: 100%; */
        height: auto;
        overflow: auto;
        /* position: relative; */
    }
    #logo {
        display:none; 
    }
    .navbar-item a {
        padding: 5em;
    }

    .navbar-item {
        border-bottom: 1px solid #bbb;
    }
    .navbar-item:first-child {
        border-top: 1px solid #bbb;
    }

}